@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
body {
    background-color: #80cbc4;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: "Architects Daughter", sans-serif;
}

main {
    flex: 1 0 auto;
  }

/* -- Main Page -- */
.grey-text.text-darken-4 {
    color: #245079fd !important;
}
/*-- Car collection card --*/
.collection {
    border: 2px solid rgb(82, 82, 136);
    font-size:18px;
}

.collection-text {
    padding: 5px;
    line-height: 1;
}

.collection-image {
    padding:5px 5px 0px 5px;
}

/* -- Navbar -- */
 a.brand-logo{
      margin-left:75px;
  }

.text-shadow {
    text-shadow: 2px 2px 2px rgba(40, 47, 49, 0.8);
}

.btn-small {
    margin: 10px;
}

/* -- Logo -- */
.purple-text.text-lighten-1 {
    color: #ab47bc !important;
}

a.brand-logo {
    margin-left: 75px;
}

/* -- Carousel Main Page  -- */
.carousel .carousel-item>img {
    width: 100%;
    height: 100%;
}

.carousel .carousel-item {
    width: 400px;
}

/* -- Search card -- */
.card-panel {
    padding-top: 10px;
}

/* -- Footer -- */
.footer-copyright {
    padding: 10px;
}

@media only screen and (max-width: 1200px) {
     /* -- Search buttons -- */
    .btn-inline .btn {
        width: 100%;
    }
}

@media only screen and (max-width: 992px) {
    /* -- Logo -- */
    a.brand-logo {
        margin-left: 15px;
        left: 20%;
    }
    /* -- Carousel Main Page  -- */
    .carousel .carousel-item>img {
        width: 100%;
        height: 100%;
    }
    /* -- Search buttons -- */
    .btn-inline .btn {
        width: 100%;
    }
}

@media only screen and (max-width: 480px) {
    /* -- Logo -- */
    a.brand-logo {
      margin-left: 35px;
    }
    /* -- Search buttons -- */
    .btn-inline .btn {
        width: 70px;
        height: 30px;
        font-size: 10px;
    }
    .search {
       padding: 0; 
    }
    /* -- Carousel Main Page  -- */
    .carousel .carousel-item>img {
        width: 65%;
        height: 100%;
    }
    /* -- Image on collection card  -- */
    .collection-image .responsive-img {
        width: 100% !important;
        height: auto !important;
    }
}
