body {
    background-color: #80cbc4;
}
/* -- Main Page -- */
.grey-text.text-darken-4 {
    color: #245079fd !important;
}

/* -- Navbar -- */
 a.brand-logo{
      margin-left:75px;
  }

.text-shadow {
    text-shadow: 2px 2px 2px rgba(40, 47, 49, 0.8);
}

.btn-small {
    margin: 5px;
}

.purple-text.text-lighten-1 {
    color: #ab47bc !important;
}

a.brand-logo {
    margin-left: 75px;
}

.carousel .carousel-item>img {
    width: 100%;
    height: 100%;
}

.carousel .carousel-item {
    width: 400px;
}

@media only screen and (max-width: 992px) {
    a.brand-logo {
    margin-left: 15px;
    left: 20%;
}
}
