{% extends "base.html" %}
{% block content %}
    
<div class="col s12 m7">
    <h2 class="header purple-text text-lighten-1" style="font-size:3vw">Vintage Cars</h2>
    <div class="card horizontal teal lighten-4">
        <div class="card-image">
            <img class="responsive-img" 
                src="https://i.pinimg.com/originals/db/08/d4/db08d4e7e91d6fd5dd247f5a6027a783.jpg">
        </div>
        <div class="card-stacked">
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4" style="font-size:5vw">
                    Sport<i class="material-icons fas fa-info-circle right" style="font-size:3vw"></i></span>
            </div>
            <div class="card-action grey-text text-darken-4">
                <a href="#">See Vintage Sport Cars</a>
            </div>
        </div> 
        <div class="card-reveal teal lighten-4">
            <span class="card-title grey-text text-darken-4" style="font-size:5vw">
                Sport<i class="material-icons fas fa-window-close right" style="font-size:3vw"></i></span>
            <p>A sports car is a car designed with an emphasis on dynamic performance, such as handling,
                acceleration, top speed, or thrill of driving. Sports cars originated in Europe in the early 
                1900s and are currently produced by many manufacturers around the world.</p>
        </div>
    </div>
</div>

<ul>
    {% for car in cars %}
    <li>
        {% if car.category_name == "Sport" %}
        <div class="collection teal purple-text text-darken-4" 
            style="border: 2px solid rgb(82, 82, 136); font-size:22px">
            <div class="col s9 left">
                <strong>{{ car.car_name }}</strong>: {{ car.car_model }} 
                {{ car.car_year }} {{ car.car_fuel }} {{ car.created_by }}
            </div>
            <div class="col s3 right">
                {% if session.user|lower == car.created_by|lower %}
                    <a href="{{ url_for('edit_car', car_id=car._id ) }}" class="btn-small">Edit</a>
                    <a href="{{ url_for('delete_car', car_id=car._id ) }}" class="btn-small">Delete</a>
                {% endif %}
            </div>
        </div>
        {% endif %}
    </li>
    {% endfor %} 
</ul>

<div class="col s12 m7">
    <h2 class="header purple-text text-lighten-1" style="font-size:3vw">Vintage Cars</h2>
    <div class="card horizontal teal lighten-4">
        <div class="card-image">
            <img class="responsive-img" 
                src="https://cdn.cheapism.com/images/070518_best_convertible_cars_slide_16_fs.max-784x410.jpg">
        </div>
        <div class="card-stacked">
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4" style="font-size:5vw">
                    Cabrio<i class="material-icons fas fa-info-circle right" style="font-size:3vw"></i></span>
            </div>
            <div class="card-action grey-text text-darken-4">
                <a href="#">See Vintage Sport Cars</a>
            </div>
        </div> 
        <div class="card-reveal teal lighten-4">
            <span class="card-title grey-text text-darken-4" style="font-size:5vw">
                Cabrio<i class="material-icons fas fa-window-close right" style="font-size:3vw"></i></span>
            <p>A sports car is a car designed with an emphasis on dynamic performance, such as handling, acceleration, top speed, or thrill of driving. Sports cars originated in Europe in the early 1900s and are currently produced by many manufacturers around the world.</p>
        </div>
    </div>
</div>

<ul>
    {% for car in cars %}
    <li>   
        {% if car.category_name == "Cabrio" %}
        <div class="collection teal purple-text text-darken-4" 
            style="border: 2px solid rgb(82, 82, 136); font-size:22px">
            <div class="col s9 left">
                <strong>{{ car.car_name }}</strong>: {{ car.car_model }} 
                {{ car.car_year }} {{ car.car_fuel }} {{ car.created_by }}
            </div>
            <div class="col s3 right">
                {% if session.user|lower == car.created_by|lower %}
                    <a href="{{ url_for('edit_car', car_id=car._id ) }}" class="btn-small">Edit</a>
                    <a href="{{ url_for('delete_car', car_id=car._id ) }}" class="btn-small">Delete</a>
                {% endif %}
            </div>
        </div>
        {% endif %}
    </li> 
    {% endfor %} 
</ul>

{% endblock %}