{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel teal lighten-4">
                <h3 class="center-align light-blue-text text-darken 4">
                    {{ username | capitalize }} Edit Your Car
                </h3>
            </div>
        </div>
    </div>

    <div class="row card-panel teal lighten-4" style="border: 2px solid #2196f3">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('edit_car', car_id=car._id) }}">
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-folder-open red-text text-lighten-2 prefix"></i>
                    <select id="category_name" name="category_name" class="validate" required>
                        <option value="" disabled>Choose Category</option>
                        {% for category in categories %}
                            {% if category.category_name == car.category_name %}
                                <option value="{{ category.category_name }}" selected>{{ category.category_name | capitalize }}</option>
                            {% else %}
                                <option value="{{ category.category_name }}">{{ category.category_name | capitalize }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <label class="blue-text text-darken-4" style="font-size: 16px" 
                        for="category_name">Add Car</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-car red-text text-lighten-2 prefix"></i>
                    <input id="car_name" name="car_name" minlength="3" maxlength="50"
                        value="{{ car.car_name }}" type="text" class="validate" required>
                    <label class="blue-text text-darken-4" style="font-size: 16px" 
                        for="car_name">Car Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-car-side red-text text-lighten-2 prefix"></i>
                    <input id="car_model" name="car_model" minlength="3" maxlength="50"
                        value="{{ car.car_model }}" type="text" class="validate" required>
                    <label class="blue-text text-darken-4" style="font-size: 16px" 
                        for="car_model">Car Model</label>
                </div>
            </div>
            <div class="row">    
                <div class="input-field col s12">
                    <i class="fas fa-calendar-alt red-text text-lighten-2 prefix"></i>
                    <input id="car_year" name="car_year" minlength="4" maxlength="4" 
                        value="{{ car.car_year }}" type="text" class="validate" required>
                    <label class="blue-text text-darken-4" style="font-size: 16px" 
                        for="car_year">Car Year</label>
                </div>
            </div>
            <div class="row">    
                <div class="input-field col s12">
                    <i class="fas fa-gas-pump red-text text-lighten-2 prefix"></i>
                    <input id="car_fuel" name="car_fuel" minlength="3" maxlength="50" 
                        value="{{ car.car_fuel }}" type="text" class="validate" required>
                    <label class="blue-text text-darken-4" style="font-size: 16px" 
                        for="car_fuel">Car Fuel</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12 center-align">
                    <button type="submit" class="btn-large blue-text text-darken-4" style="font-size: 16px">
                        Edit Car<i class="fas fa-edit right"></i>
                    </button>
                    <a href="{{ url_for('get_cars') }}" class="btn-large red blue-text text-darken-4"> 
                        Cancel<i class="fas fa-times-circle"></i></a>
                </div>
            </div>
        </form>
    </div>

{% endblock %}