{% extends "base.html" %}
{% block content %}

    <!--Edit category top panel  -->
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel teal lighten-4">
                <h3 class="center-align light-blue-text text-darken 4">
                    {{ username | capitalize }} Edit Category
                </h3>
            </div>
        </div>
    </div>
    <!-- Edit category card panel  -->
    <div class="row card-panel teal lighten-4" style="border: 2px solid #2196f3">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('edit_category', category_id=category._id) }}">
            <!-- Category name input field  -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-folder-open red-text text-lighten-2 prefix"></i>
                    <input id="category_name" name="category_name" minlength="3" maxlength="50"
                        type="text" value="{{ category.category_name }}" class="validate" required>
                    <label class="blue-text text-darken-4" style="font-size: 20px" 
                        for="category_name">Category Name</label>
                </div>
            </div>
            <!-- Image url input field  -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-car-side red-text text-lighten-2 prefix"></i>
                    <input id="category_image_url" name="category_image_url" minlength="5" maxlength="500"
                        type="text" value="{{ category.category_image_url }}" class="validate" required>
                    <label class="blue-text text-darken-4" style="font-size: 20px" 
                        for="category_image_url">Image url</label>
                </div>
            </div>
            <!-- Category description input field  -->
            <div class="row">    
                <div class="input-field col s12">
                    <i class="fas fa-keyboard red-text text-lighten-2 prefix"></i>
                    <textarea id="category_description" name="category_description" minlength="5" maxlength="5000" 
                        type="text"class="materialize-textarea validate" required>{{ category.category_description }}
                    </textarea>
                    <label class="blue-text text-darken-4" style="font-size: 20px" 
                        for="category_description">Category_description
                    </label>
                </div>
            </div>
            <!-- Edit category Submit or Cancel buttons  -->
            <div class="row">
                <div class="col s12 center-align">
                    <button type="submit" class="btn-large blue-text text-darken-4">
                        Edit Category<i class="fas fa-plus-square right" style="font-size: medium"></i>
                    </button>
                    <a href="{{ url_for('get_categories') }}" class="btn-large red blue-text text-darken-4"> 
                        Cancel <i class="fas fa-times-circle" style="font-size: medium"></i></a>
                </div>
            </div>
        </form>
    </div>

{% endblock %}