{% extends "base.html" %}
{% block content %}

    <!-- Profile top panel  -->
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel teal lighten-4">
                <h3 class="center-align light-blue-text text-darken 4">
                    {{ username | capitalize }}'s Profile
                </h3>
            </div>
        </div>
    </div>

    <ul>
    {% for car in cars %}
        {% if session.user|lower == car.created_by|lower %}
        <li>
        <!-- Car collection card  -->
        <h2 class="header purple-text text-lighten-1" style="font-size:2vw">{{ car.category_name  | capitalize }}</h2>
        <div class="collection teal purple-text text-darken-4" 
                style="border: 2px solid rgb(82, 82, 136); font-size:16px">
                <div class="col s3 left">
                    <div class="card-image collection-image">
                        <img class="responsive-img"
                        style="height: 100px; width: 150px; border: 1px solid rgb(82, 82, 136)"
                        src="{{ car.car_image_url }}" onerror="this.onerror=null;this.src='static/img/avatar_car.jpg'" alt="car">
                    </div>
                </div>
                <div class="collection-text col s6 left">
                    <strong><em class="teal-text text-accent-4">Make:</em> {{ car.car_name }} <em class="teal-text text-accent-4">Model:</em> {{ car.car_model }}</strong><br>
                    <p><em class="teal-text text-accent-4">Year:</em> {{ car.car_year }} <em class="teal-text text-accent-4">Fuel:</em> {{ car.car_fuel }}</p> 
                    <p><em class="teal-text text-accent-4">Created by:</em> {{ car.created_by }}</p>
                </div>
            <!-- Delete and Edit buttons -->       
            <div class="col s3 right">
                <a href="{{ url_for('edit_car', car_id=car._id ) }}" class="btn-small grey-text text-darken-4">Edit</a>
                <button data-target="#modal1{{ car._id }}" class="btn-small modal-trigger grey-text text-darken-4">Delete</button>
                <!-- Deleting alert  -->
                <div id="#modal1{{ car._id }}" class="modal teal lighten-4">
                    <div class="modal-content">
                        <h4>Deleting Car</h4>
                        <p>Are you sure, you want to delete this car {{ car.car_name }} {{ car.car_model }}?</p>
                    </div>
                    <!-- Delete and Cancel buttons -->
                    <div class="modal-footer teal lighten-4">
                        <a href="{{ url_for('profile', username=session['user']) }}" class="modal-action waves-effect red darken-4 btn ">Cancel</a>
                        <a href="{{ url_for('delete_car', car_id=car._id ) }}" class="modal-action waves-effect waves-green btn ">Delete</a>
                    </div>
                </div>
            </div>
        </div>
        </li>
        {% endif %}
    {% endfor %} 
    </ul>
{% endblock %}


        
    